.main-body{

    width: 100vw;
    height: 90vh;
    display: grid;
    /* background-color: lightcyan; */
    grid-template-columns: 1fr 1fr;
}

.main-item-photo{

    /* background-color: rgb(96, 224, 145); */
    width: 350px;
    height: 300px;
    margin-top: 5%;
    margin-left: 28%;
    border-radius: 20px;
    border: 2px solid orange;
    cursor: pointer;
}

.items{

    display: flex;
    /* background-color: maroon; */
    margin-left: 13%;
    margin-top: 5%;
    width: 450px;
    height: 150px;
}

.lg-photo{

    width: 346px;
    height: 296px;
    border-radius: 20px;
}

.item-photo{

    display: inline-flex;
    background-color: lightyellow;
    width: 100px;
    height: 100px;
    margin-left: 5%;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid orange;

}

.sm-photo{

    border-radius: 10px;
}

/* .body-two{

    background-color: lightslategrey;   
} */

.text-body{

    /* background-color: mediumpurple; */
    width: 400px;
    height: 300px;
    margin-top: 10%;
    margin-left: 10%;
}

.company-name {

    color:rgb(248, 133, 80);
    font-weight: 600;
}

.price {

    display: flex;
}

.price-value {
     color: black;
     /* background-color: palegoldenrod; */
}

.ds-btn {

    width: 50px;
    height: 28px;
    background-color: rgb(238, 223, 195);;
    margin-left: 2%;
    font-weight: 600;
    font-size: 20px;
    padding-top: 1%;
    text-align: center;
    color: orange;
    border-radius: 5px;
    cursor: pointer;

}

.cart-btn{

    width: 220px;
    height: 40px;
    background-color: orange;
    margin-left: 20px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.cart-btn.home {

    margin-left: 0px;
    margin-top: 10px;
}   


.body-cart-icon {
    
    margin-right: 10px;
    color: #fff;
}
@media  screen and (min-width: 1440px) {

    .main-body{
    
        max-width: 1440px;
    }
}

@media  screen and (max-width: 1024px) {

    .main-item-photo {
        
        margin-left: 20%;
    }

    .items{

        margin-left: 10%;
    }
}

@media  screen and (max-width: 768px) {

    .main-body {

        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .text-body {

        margin-top: 5%;
        height: 350px;
    }

    .main-item-photo {

        width: 99vw;
        height: 75vh;
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 0px;
    }

    .lg-photo{

        width: 98vw;
        height: 74vh;
        align-items: center;
        border-radius: 0px;

    }

    .items {

        display: none;
    }

}

@media  screen and (max-width: 320px) {

    .main-body {

        height: 105vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .text-body {

        width: 80vw;
        margin-left: 3%;
    }

    .main-item-photo {

        width: 99vw;
        height: 38vh;
        margin-left: 1px;
        margin-top: 0px;
        border-radius: 0px;
        border: 2px solid orange
    }

    .lg-photo{

        width: 96vw;
        height: 35vh;
        align-items: center;
        border-radius: 0px;
        border-color: blueviolet;
    }

    .items {

        display: none;
    }

    .text-body {

        width: 90vw;
        height: 50vh;
    }

    .cart-btn {

        margin-top: 5%;
        display: block;
    }


}